.bottom-nav-bar {
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--back-purple);
  width: 100vw;
  position: fixed;
  height: 10vh;
  bottom: 0;
  color: black;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
}

.navlink {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--white);
}

.active {
  color: var(--light-purple);
}
